body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

nav {
      display: flex;
      justify-content: center;
      background-color: #f4f4f4;
      padding: 0.5em 0;
    }
    nav a {
      text-decoration: none;
      color: #333;
      padding: 0.5em 1em;
    }
    nav a:hover {
      background-color: #ddd;
    }
    nav a:active{
        background-color: #ccc;
    }

.gallery {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    gap: 20px;
}

.gallery-item {
    flex: 1 0 calc(33.33% - 20px); /* Three items per row with gap */
    max-width: calc(33.33% - 20px); /* Adjusted width for three items per row */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 20px; /* Space between rows */
    display: flex; /* Use flexbox to align image and text vertically */
    flex-direction: column; /* Stack image and text vertically */
}


.gallery-item:hover {
    transform: translateY(-5px); /* Move up on hover for a lifting effect */
}

.gallery-item img {
    width: 100%;
    height: 400px; /* Maintain aspect ratio */
    display: block;
    border-radius: 8px 8px 0 0;
    object-fit: cover; /* Ensure images cover the entire container */
}

.image-text {
    background-color: #fff; /* White background for text area */
    padding: 15px;
    border-radius: 0 0 8px 8px; /* Rounded bottom corners */
    flex: 1; /* Take remaining space vertically */
    display: flex; /* Ensure content inside image-text is aligned */
    flex-direction: column; /* Stack content inside image-text vertically */
}

.image-text h3 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
}

.image-text p {
    margin-bottom: 0;
    color: #666;
    font-size: 14px;
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



.image-text li {
    display: none; /* Hide all list items by default */
}

/* Show list items when inside the modal */
#modal .modal-content li {
    display: list-item;
}
